/* Less */
@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1002px;


@vermelho-escuro: #7e1b1b;
@vermelho-claro: #ea2a2a;
@vermelho-muito-claro: #ffc5c5;
@verde: #5cb384;


body {

}

h2 {
	margin: 40px 0 45px;
}

#webdoor {
	height: 712px;
	position: relative;
	
	text-align: center;
	background: url(../img/background-webdoor.png) repeat-x top;
	
	h1 {
		width: 294px;
		height: 167px;
		margin: 41px auto 80px;

		text-indent: -9999px;
		background: url(../img/logo.png) no-repeat;
	}

	.logo-codeclub {
		width: 96px;
		height: 60px;
		position: fixed;
		right: 30px;
		top: 20px;
		z-index: 999;
		background:url(../img/logo-codeclub-peq.png) no-repeat;
	}

	p.lead {
		font-size: 24px;
		color: @vermelho-escuro;
	}

	.enviar-jogo {		
		width: 280px;
		height: 71px;
		margin: 0 auto 25px;

		/*text-indent: -9999px;*/
		/*background: url(../img/btn-envie-webdoor.png) 0 0 no-repeat;*/


		background: @vermelho-claro;
		border: 3px dotted @verde;
		color: white;
		font-size: 30px;


		&:hover {
			/*background: url(../img/btn-envie-webdoor.png) 0 -71px;*/
			background: @vermelho-escuro;
		}
	}

	.saiba-mais, .galeria {
		color: @vermelho-claro;
		border: 0;
		border-radius: 0;
		padding: 10px 20px;		

		background-color: white;

		&:hover {			
			color: @vermelho-escuro;
			background: @vermelho-muito-claro;
		}
	}

	#saiba-mais {
		margin-right: 30px;
	}

	.papai-noel {
		width: 249px;
		height: 397px;

		position: absolute;
		top: 240px;
		left: 2%;
		z-index: 5;

		background: url(../img/papai-noel-webdoor.png) no-repeat;
	}

	.janela {
		width: 243px;
		height: 560px;

		position: absolute;
		top: 0;
		left: -5%;
		z-index: 2;

		background: url(../img/janela-webdoor.png) top no-repeat;
	}

	.arvore {
		width: 296px;
		height: 412px;

		position: absolute;
		top: 228px;
		right: 10px;
		z-index: 2;

		background: url(../img/arvore-webdoor.png) top no-repeat;
	}

}


#sobre-o-projeto {
	clear: both;
	position: relative;
	color: white;
	background: #385005;	

	&:before {
		content: "";
		width: 100%;
		height: 253px;
		position: absolute;
		top: 0;
		z-index: 1;
		background: url(../img/sobre-top-background.png) top repeat-x;
	}

	h2 {
		width: 414px;
		height: 130px;
		text-indent: -9999px;
		background: url(../img/sobre-titulo.png) no-repeat;

	}

	a {
		color: white;
		text-decoration: underline;

		&:hover {
			color: @verde;
		}
	}

	.voluntario {
		padding-bottom: 50px;

	}

	.nao-voluntario {
		height: 300px;
		padding-top: 30px;
		background: #212f04;
	}

	.papai-noel {
		width: 274px;
		height: 496px;

		position: absolute;
		right: 10%;
		top: 270px;
		z-index: 5;

		background: url(../img/sobre-papai-noel.png) no-repeat;
	}

}



#galeria {
	background: url(../img/galeria-background.png);
	padding-bottom: 80px;
	position: relative;

	&:before {
		display: block;
		position: absolute;
		content: "";
		top: 20px;
		width: 100%;
		height: 152px;
		background: url(../img/pisca-pisca.png) repeat-x;
	}

	h2 {
		display: block;
		width: 300px;
		height: 132px;
		text-indent: -9999px;
		background: url(../img/galeria-titulo.png) no-repeat;		
	}


	.box {
		margin-top: 50px;
		margin-bottom: 50px;
		padding:20px;
		border: 3px dotted white;	
		color: white;
		background: @vermelho-claro;
	}


	.jogo {

		color: #913609;
		background: #f9cb8f;
		padding: 20px 0 20px 20px;
		margin-bottom: 50px;
		text-align: center;


		.titulo {
			font-size: 18px;
		}

		.infos {
			font-size: 12px;
		}

		.meta {
			text-align: left;
		}

		.acoes {
			margin-right: 20px;
		}

		.icone {
			display: inline-block;
			min-width: 32px;
			min-height: 32px;
			color: white;
			text-decoration: none;

			&:hover {
				text-decoration: none;				
			}
			

			&.compartilhar {
				background: url(../img/galeria-icones.png) 5px 0 no-repeat;
				text-indent: -9999px;
			}

			&.curtir {
				background: url(../img/galeria-icones.png) -30px 0 no-repeat;
				font-size: 10px;
				padding-top: 5px;
			}
		}


		img {
			width: 100%;
		}

		iframe {
			width: 100%;
			margin-bottom: 20px;
			margin-right: -15px;
			margin-left: -15px;
		}
	}

}




#rodape {		
	position: relative;
	padding-top: 250px;

	color: white;
	background: #3cbac8;


	&:before {
		display: block;
		position: absolute;
		content: "";
		top: 20px;
		width: 100%;
		height: 152px;
		background: url(../img/pisca-pisca.png) repeat-x;
	}

	.papai-noel {
		width: 137px;
		height: 200px;

		position: absolute;
		top: 80px;
		left: 10%;

		background: url(../img/rodape-papai-noel.png) no-repeat;
	}

	.logo-codeclub {
		width: 159px;
		height: 100px;
		position: absolute;
		top: 110px;
		left: 50%;
		margin-left: -80px;
		background: url(../img/logo-codeclub-grd.png) no-repeat;	
	}

	.infos {
		background: #38aab7;
		min-height: 150px;
		padding-bottom: 40px;

		a {
			color: white;
			text-decoration: underline;

			&:hover {
				color: @vermelho-claro;
			}
		}
	}

	.patrocinio {
		padding-top: 10px;
	}

	.legal {
		padding-top: 40px;
		text-align: right;
		font-size: 10px;
	}

}



#abrirFormulario {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 720px;
	margin: 20px auto;

	h3 {
		text-align: center;
		font-size: 35px;
		/*margin-top: 50px;
		margin-bottom: 50px;*/
		padding:20px;
		border: 3px dotted white;	
		color: white;
		background: @vermelho-claro;		
	}
}



/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}



/*==========  MEDIA QUERIES  ================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	#sobre-o-projeto {
		.papai-noel {
			top: 200px;
		}
	}

	#galeria {
		.jogo iframe {
			height: 280px;
		}
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {

	#galeria {
		.box {
		/*	margin-bottom: 50px;*/
		}

		.jogo iframe {
			height: 230px;
		}
	}

	p.lead {
		padding: 0 200px;

	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	p.lead {
		padding: 0 300px;
	}


	.janela {
		/*left: -30%;*/
	}

	#galeria {
		.box {
		/*	margin-bottom: 50px;*/
		}

		.jogo iframe {
			height: 262px;
		}
	}

	#webdoor {
		.logo-codeclub {
			position: absolute;
		}
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	#sobre-o-projeto h2 {
		background-size: 260px;
		height: 86px;
	}

	p.lead {
		padding: 0 20px;
	}


	.janela {
		/*left: -30%;*/
	}

	#galeria {

		h2 {
			background-size: 260px;
		}

		.box {
		/*	margin-bottom: 50px;*/
		}

		.jogo {
			position: relative;
			margin-bottom: 20px;

			.meta {
				width: 74%;
			}

			.acoes {
				margin-right: 0;
				position: absolute;
				bottom: 45px;
				right: 10px;
			}
			
			iframe {			
				margin-left: -6px;
			}
		}
	}

	#rodape {

		.patrocinio, .legal {
			clear: both;
			float: none !important;
			text-align: center;
		}
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

	h2 {
		background-size: 260px;
	}
    
}


